.merchant-col {
    display: flex;
    margin-bottom: 30px;
}

.merchant-background {
    width: 100%;
}

.merchant-information-wrapper {
    display: flex;
    position: absolute;
    height: 250px;
    margin-left: 15px;
    margin-right: 15px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}

.merchant-information {
    display: flex;
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

.merchant-logo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
}

.merchant-title {
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}

.merchant-location {
    color: white;
    font-size: 1rem;
}

@media (max-width: 1400px) {
    .merchant-information-wrapper {
        display: flex;
        position: absolute;
        height: 150px;
        margin-left: 15px;
        margin-right: 15px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
    }

    .merchant-logo {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: white;
    }
    
    .merchant-title {
        font-weight: bold;
        color: white;
        font-size: 0.8rem;
    }
    
    .merchant-location {
        color: white;
        font-size: 0.5rem;
    }
}